
<div class="container text-center text-md-left">
    <div class="row text-center text-md-start">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 fw-bold text-warning">Company Name</h5>
            <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con sitio mientras que mira su diseño.
                El punto de usar Lorem Ipsum al contrario de usar textos como por ejemplo "Contenido aquí".</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 fw-bold text-warning">Products</h5>
            <p>
                <a href="#" class="text-decoration-none text-white">TheProviders</a>
            </p>
            <p>
                <a href="#" class="text-decoration-none text-white">Creativity</a>
            </p>
            <p>
                <a href="#" class="text-decoration-none text-white">SourceFiles</a>
            </p>
            <p>
                <a href="#" class="text-decoration-none text-white">Aplha</a>
            </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 fw-bold text-warning">Usefil links</h5>
            <p>
                <a href="#" class="text-decoration-none text-white">Your Account</a>
            </p>
            <p>
                <a href="#" class="text-decoration-none text-white">Become an Affiliate</a>
            </p>
            <p>
                <a href="#" class="text-decoration-none text-white">Shipping Rates</a>
            </p>
            <p>
                <a href="#" class="text-decoration-none text-white">Help</a>
            </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 fw-bold text-warning">Contact</h5>
            <p>
                <i class="bi bi-geo-alt-fill  mt-3 mx-2"></i>New York, NY 2333, US
            </p>
            <p>
                <i class="bi bi-envelope-fill mt-3 mx-2"></i>ShoeStore999@gmail.com
            </p>
            <p>
                <i class="bi bi-telephone-fill mt-3 mx-2"></i>+92 3162859654
            </p>
            <p>
                <i class="bi bi-telephone-fill mt-3 mx-2"></i>+01 335 653 77
            </p>
        </div>

        <hr class="mb-4"/>

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p>Copyright &copy;2020 All right reserved by:<a href="#" class="text-decoration-none"><strong class="text-warning">Jerry</strong></a></p>
            </div>
        </div>

        <div class="col-md-5 col-lg-4 container-fluid">
            <div class="text-center text-md-end">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="btn-sm text-white fs-4"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn-sm text-white fs-4"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn-sm text-white fs-4"><i class="bi bi-google"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn-sm text-white fs-4"><i class="bi bi-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn-sm text-white fs-4"><i class="bi bi-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

@code {

}
