@inject NavigationManager NavigationManager

<div class="row row-cols-1 row-cols-md-2 g-4 my-2 mx-5">
    <div class="col-lg">
        <div class="card h-100 w-100 shadow">
            <img src="/img/shoe2.png" class="card-img-top w-100" />
            <div Class="card-body">
                <div Class="card-title">Comfy shoe</div>
                <p class="card-text">lorem ipsum dolor sit, amet consectetur adipisi shosr. elit quibusdum, corporis!</p>
            </div>
            <div Class="card-footer">
                <div class="float-start">
                    <h4>$200</h4>
                </div>
                <div class="float-end">
                    <button class="btn btn-primary rounded-3"><i class="bi bi-cart-fill"></i> Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg">
        <div class="card h-100 w-100 shadow">
            <img src="/img/shoe2.png" class="card-img-top w-100" />
            <div Class="card-body">
                <div Class="card-title">Comfy shoe</div>
                <p class="card-text">lorem ipsum dolor sit, amet consectetur adipisi shosr. elit quibusdum, corporis!</p>
            </div>
            <div Class="card-footer">
                <div class="float-start">
                    <h4>$200</h4>
                </div>
                <div class="float-end">
                    <button class="btn btn-primary rounded-3"><i class="bi bi-cart-fill"></i> Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg">
        <div class="card h-100 w-100 shadow">
            <img src="/img/shoe2.png" class="card-img-top w-100" />
            <div Class="card-body">
                <div Class="card-title">Comfy shoe</div>
                <p class="card-text">lorem ipsum dolor sit, amet consectetur adipisi shosr. elit quibusdum, corporis!</p>
            </div>
            <div Class="card-footer">
                <div class="float-start">
                    <h4>$200</h4>
                </div>
                <div class="float-end">
                    <button class="btn btn-primary rounded-3"><i class="bi bi-cart-fill"></i> Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg">
        <div class="card h-100 w-100 shadow">
            <img src="/img/shoe2.png" class="card-img-top w-100" />
            <div Class="card-body">
                <div Class="card-title">Comfy shoe</div>
                <p class="card-text">lorem ipsum dolor sit, amet consectetur adipisi shosr. elit quibusdum, corporis!</p>
            </div>
            <div Class="card-footer">
                <div class="float-start">
                    <h4>$200</h4>
                </div>
                <div class="float-end">
                    <button class="btn btn-primary rounded-3"><i class="bi bi-cart-fill"></i> Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}
