
<div class="col-md text-center ms-5">
    <div class="card border-0">
        <img src="/img/shipping.png" class="card-img-top w-25 mx-auto">
        <div class="card-body">
            <h5 class="card-title fw-bold">Shipping Nationwide</h5>
        </div>
    </div>
</div>
<div class="col-md text-center mx-2">
    <div class="card border-0">
        <img src="/img/store.png" class="card-img-top w-25 mx-auto">
        <div class="card-body">
            <h5 class="card-title fw-bold">Shipping Nationwide</h5>
        </div>
    </div>
</div>
<div class="col-md text-center mx-2">
    <div class="card border-0">
        <img src="/img/customer-care.png" class="card-img-top w-25 mx-auto">
        <div class="card-body">
            <h5 class="card-title fw-bold">Shipping Nationwide</h5>
        </div>
    </div>
</div>
<div class="col-md text-center me-5">
    <div class="card border-0">
        <img src="/img/benefit.png" class="card-img-top w-25 mx-auto">
        <div class="card-body">
            <h5 class="card-title fw-bold">Shipping Nationwide</h5>
        </div>
    </div>
</div>


@code {

}
